@tailwind base;
@tailwind components;
@tailwind utilities;

.flash {
  animation: flash-bg 0.8s ease;
}

@keyframes flash-bg {
  0% { background-color: #d1fae5; } 
  100% { background-color: transparent; }
}
